# https://github.com/AdguardTeam/dnsproxy/issues/39#issuecomment-570742700
# https://github.com/joshcangit/dnsproxy-resolvconf/blob/master/adguard-dnsproxy.service
# https://github.com/DNSCrypt/dnscrypt-proxy/wiki/systemd
[Unit]
Description=DNSProxy service

Before=nss-lookup.target shutdown.target
Wants=nss-lookup.target
After=network.target network-online.target
Conflicts=shutdown.target

[Service]
User=_dnsproxy
Group=_dnsproxy
ExecStart=/usr/local/bin/dnsproxy-wrapper


AmbientCapabilities=CAP_SETPCAP CAP_NET_RAW CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_SETPCAP CAP_NET_RAW CAP_NET_BIND_SERVICE

# Other process on the system is hidden from this.
ProtectProc=invisible
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes

Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
